div .welcome-choice{
	background-color: #f8f8f8;
	padding: 20px 5px 0px 5px;
	border-radius: 25px;
	display:block;
	width: 100%;
	height: 300px;
}

div .logout-float{
	position:fixed;
	right:15%;
	top:5px;
}

footer .relative{
	position: relative;
	bottom: 0;
	width: 100%;
}
.sticky-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.uppercase{
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

.badge{
	vertical-align: top;
}

h3.text-gray{
	text-decoration-color: #555;
	padding: 15px 0 0 10px;
}

.file-input{
  display: none !important;
}

.load-messages{
	margin-top: 20px;
}

/**shopping cart dropdown menu**/
.shopping-cart {
  padding: 0px;
  min-width: 300px !important;
  border: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
.shopping-cart .mCSB_inside > .mCSB_container {
  margin-right: 6px;
}

.content-scroll {
  height: 250px;
  width: 100%;
}

.cart-item {
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  border-bottom: 1px dashed #eee;
}
.cart-item img {
  float: left;
  width: 60px;
  margin-right: 10px;
}
.cart-item .description {
  overflow: hidden;  
  padding-left: 10px;
}
.cart-item .description a {
  color: #333;
  font-size: 13px;
}
.cart-item .description a:hover {
  color: #1ab394;
}
.cart-item .description strong {
  display: block;
  font-weight: 400;
  font-size: 12px;
}
.cart-item .buttons {
  position: absolute;
  top: 5px;
  right: 10px;
}
.cart-item .buttons a {
  color: #999;
  display: inline-block;
  margin: 3px;
  padding: 3px  6px;
  border: 1px solid #ddd;
}
.cart-item .buttons a.accept:hover {
  color: #1ab394;
}

.cart-item .buttons a.deny:hover {
  color: #f44242
}

.cart-footer {
  padding: 15px;
  background-color: #f0f0f0;
  text-align: center;
}
.cart-footer a {
  margin: 5px;
}

h5.friendship{
  margin-top: 5px;
  color: #666666;
}

.icon-input{
  right: 10px;
  top: 12px;
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 500px) {
  div .logout-float{
	position:fixed;
		 width: 50%;
  		margin: 0 auto;
	}
}

@media only screen 
and (max-width : 768px) {
  .load-messages{
	margin-top: 50px;
	}
}