.mt-2{
  margin-top: 20px;
}

div .welcome-choice{
	background-color: #f8f8f8;
	padding: 20px 5px 0px 5px;
	border-radius: 25px;
	display:block;
	width: 100%;
	height: 300px;
}

div .logout-float{
	position:fixed;
	right:15%;
	top:5px;
}

footer .relative{
	position: relative;
	bottom: 0;
	width: 100%;
}
.sticky-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.uppercase{
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

.badge{
	vertical-align: top;
}

h3.text-gray{
	text-decoration-color: #555;
	padding: 15px 0 0 10px;
}

.file-input{
  display: none !important;
}

.deny-course{
    position: relative;
    top: 25px;
    right: -18px;
  }


/**shopping cart dropdown menu**/
.shopping-cart {
  padding: 0px;
  min-width: 300px !important;
  border: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
.shopping-cart .mCSB_inside > .mCSB_container {
  margin-right: 6px;
}

.content-scroll {
  height: 250px;
  width: 100%;
}

.cart-item {
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  border-bottom: 1px dashed #eee;
}
.cart-item img {
  float: left;
  width: 60px;
  margin-right: 10px;
}
.cart-item .description {
  overflow: hidden;  
  padding-left: 10px;
}
.cart-item .description a {
  color: #333;
  font-size: 13px;
}
.cart-item .description a:hover {
  color: #1ab394;
}
.cart-item .description strong {
  display: block;
  font-weight: 400;
  font-size: 12px;
}
.cart-item .buttons {
  position: absolute;
  top: 5px;
  right: 10px;
}
.cart-item .buttons a {
  color: #999;
  display: inline-block;
  margin: 3px;
  padding: 3px  6px;
  border: 1px solid #ddd;
}
.cart-item .buttons a.accept:hover, .accept-course:hover {
  color: #1ab394;
}

.close{
  opacity: 1;
  color: #A7A6A6;
}

.cart-item .buttons a.deny:hover, .deny-course:hover {
  color: #f44242;
}

.cart-item .buttons a.block:hover {
  color: #1a1a1a;
}

.cart-footer {
  padding: 15px;
  background-color: #f0f0f0;
  text-align: center;
}
.cart-footer a {
  margin: 5px;
}

h5.friendship{
  margin-top: 5px;
  color: #666666;
}

.icon-input{
  right: 10px;
  top: 12px;
}

/*===========================
=            TAB            =
===========================*/

/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
  background-color: #FFFFFF;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #bcfbff;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #32c5d2;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
  background-color: #FFFFFF;
}
.tabbable-line > .nav-tabs > li.active > a:hover {
  border: 0;
  color: #333333;
  background-color: #FFFFFF;
}
.tabbable-line > .nav-tabs > li.active > a:focus {
  border: 0;
  color: #333333;
  background-color: #FFFFFF;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

/*=====  End of TAB  ======*/



.small-alert{
  padding: 5px 10px 5px 10px;
  margin-bottom: 5px;
}


/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 500px) {
  div .logout-float{
	position:fixed;
		 width: 50%;
  		margin: 0 auto;
	}
}

@media only screen 
and (max-width : 768px) {
  .load-messages{
	margin-top: 50px;
	}
}